---
layout: layout.njk
title: 博客
---

<h2>博客文章</h2>

<article>
  <h3><a href="/blog/hello-world/">欢迎来到我的博客</a></h3>
  <p class="date">2026-03-29</p>
  <p>这是我的第一篇博客文章，欢迎大家的到来！</p>
  <a href="/blog/hello-world/" class="read-more">阅读更多</a>
</article>